@import url("flash.css");

html {
  height: 100%;
  background-color:#122;
  background-image: linear-gradient(bottom, #455 13%, #344 57%, #122 79%);
  background-image: -o-linear-gradient(bottom, #455 13%, #344 57%, #122 79%);
  background-image: -moz-linear-gradient(bottom, #455 13%, #344 57%, #122 79%);
  background-image: -webkit-linear-gradient(bottom, #455 13%, #344 57%, #122 79%);
  background-image: -ms-linear-gradient(bottom, #455 13%, #344 57%, #122 79%);
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.13, #455),
      color-stop(0.57, #344),
      color-stop(0.79, #122)
  );
}

body {
  width: 980px;
  margin:0 auto;
  background-color:#FFF;
  padding:10px;
}

#header {
  margin-bottom:20px;
}
#header h1 {
  font-size:18px;
  margin:10px;
  text-shadow:5px 5px 10px #CCC;
}

#nav {
  background-color:#CCC;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#nav a,
#nav a:active,
#nav a:visited {
  color:#67A;
}
#nav ul {
  padding:0;
}
#nav ul li {
  float: left;
}
#nav ul li a {
  display: block;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 14px;
  text-decoration:none;
}
#nav ul li a:hover {
  background-color: #DDD;
  -moz-border-radius: 10px;
  border-radius: 10px;

}
.crumb {
  font-size:14;
  color:#AAA;
  margin-bottom:10px;
}
#content {
  padding: 20px;
  padding-top:0;
  margin-bottom:20px;
}
#footer {
  border-top: 1px ridge #333;
}
#footer .copyright {
  font-size:9px;
}

/* General */
.right {
  float:right;
}
.left {
  float:left;
}

/* Forms */
div.field {
  padding:5px;
}
div.field label {
  font-weight:bold;
}
div.actions {
  padding:10px;
}
span.disability {
  padding-left:5px;
  color:maroon;
  font-size:11px;
}

/* Users */
ul.users li {
  list-style:none;
  float:left;
  width:200px;
  height:70px;
  margin:20px;
  line-height:60px;
}
ul.users li a {
  display:block;
  padding:10px;
}
ul.users li a:hover {
  background-color:#EEE;
}
ul.users li span {
  font-size:24px;
  font-weight:bold;
}
ul.users li img,
ul.users li span {
  vertical-align:middle;
}

/* Critters */
table.critters {
  width:100%;
}
table.critters caption {
  font-size:18px;;
}
table.critters th {
  padding:2px 10px;
  background-color:#eee;
  border:2px solid #FFF;
  -moz-border-radius: 10px;
  border-radius: 10px;

}
table.critters td {
  padding:10px;
  border:1px dotted #efefef;
}
