html {
  height: 100%;
  background-color:#112;
  background-image: linear-gradient(bottom, #445 13%, #334 57%, #112 79%);
  background-image: -o-linear-gradient(bottom, #445 13%, #334 57%, #112 79%);
  background-image: -moz-linear-gradient(bottom, #445 13%, #334 57%, #112 79%);
  background-image: -webkit-linear-gradient(bottom, #445 13%, #334 57%, #112 79%);
  background-image: -ms-linear-gradient(bottom, #445 13%, #334 57%, #112 79%);
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.13, #445),
      color-stop(0.57, #334),
      color-stop(0.79, #112)
  );
}

body {
  width: 980px;
  margin:0 auto;
  background-color:#FFF;
  padding:10px;
}
body p {
  line-height: 1.4em;
}

#header {
  margin-bottom:20px;
}
#header h1 {
  width:500px;
  float:left;
  margin:10px;
  text-shadow:5px 5px 10px #CCC;
}
#header #current_user_status {
  float: right;
  font-style: italics;
  font-size: .9em;
}

#nav {
  clear:both;
  background-color:#DDD;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#nav a,
#nav a:active,
#nav a:visited {
  color:#67A;
}
#nav ul {
  padding:0;
}
#nav ul li {
  float: left;
}
#nav ul li a {
  display: block;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 1.2em;
  text-decoration:none;
}
#nav ul li a.current-page,
#nav ul li a:hover {
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#nav ul li a.current-page {
  background-color: #EEE;
}
#nav ul li a:hover {
  background-color: #FE6;
}
.content-title {
  color:#444;
  margin-bottom:20px;
  border-bottom:1px solid #EEE;
}
#content {
  padding: 20px;
  padding-top:0;
  margin-bottom:20px;
}
#footer {
  border-top: 1px ridge #333;
}
#footer .copyright {
  font-size:.7em;
}

/* General */
.right {
  float:right;
}
.left {
  float:left;
}
.button {
  margin-bottom: 10px;
}
table tr:hover {
  background-color:#FE6;
}

/* Forms */
div.field {
  margin:10px;
  padding:5px;
  background-color:#EFEFEF;
}
div.field label {
  width:200px;
  display:inline-block;
  font-weight:bold;
}
div.actions {
  font-weight: bold;
  font-size: 1.2em;
  margin: 10px;
  padding:10px;
}
span.disability {
  padding-left:5px;
  color:maroon;
  font-size: .8em;
}

/* Users */
ul.users li {
  list-style:none;
  float:left;
  height:70px;
  margin:20px;
  line-height:60px;
}
ul.users li a {
  display:block;
  padding:10px;
}
ul.users li a:hover {
  background-color:#EEE;
}
ul.users li span {
  padding:5px;
  font-size: 1.8em;
  font-weight:bold;
}
ul.users li img,
ul.users li span {
  vertical-align:middle;
}

/* Critters */
table.critters {
  width:100%;
}
table.critters caption,
table.stats caption {
  font-size: 1.4em;
}
table.critters th,
table.stats th {
  padding:3px 10px;
  background-color:#EFEFEF;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;

}
table.critters tr {
}
table.critters td,
table.stats td {
  padding:10px;
  border:1px dotted #DDD;
  border-top:none;
}
table.critters td a,
table.stats td a {
  display: block;
  text-align: center;
}

/* Top and recent critters */
table.top_critters,
table.recent_critters {
  width:420px;
  float:left;
  margin:20px;
}

/* Critter Detail */
.critter_details {
  font-size: 1.2em;
}
.critter_details table tr td {
  padding: 5px;
}
.critter_details .stats {
  width: 400px;
}
.critter_details .core_stats {
  float: left;
}
.critter_details .element_stats {
  margin-left:420px;
}
.critter_details .dna tbody td {
  text-transform: uppercase;
}
