@import url("flash.css");

html {
  background-color:#EEE;
}
body {
  width: 980px;
  margin:0 auto;
  background-color:#FFF;
  padding:10px;
}
#header {
  margin-bottom:20px;
}
#header h1 {
  font-size:18px;
  margin:10px;
}
#nav {
  background-color:#CCC;
}
#nav a,
#nav a:active,
#nav a:visited {
  color:#67A;
}
#nav ul {
  padding:0;
}
#nav ul li {
  float: left;
}
#nav ul li a {
  display: block;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 14px;
  text-decoration:none;
}
#nav ul li a:hover {
  background-color: #DDD;
}
h2.crumb {
  font-size:14;
  color:#CCC;
  margin-bottom:10px;
}
#content {
  padding: 20px;
  padding-top:0;
  margin-bottom:20px;
}
#footer {
  border-top: 1px ridge #333;
}
#footer .copyright {
  font-size:9px;
}

/* General */
.right {
  float:right;
}
.left {
  float:left;
}

/* Forms */
div.field {
  padding:5px;
}
div.field label {
  font-weight:bold;
}
div.actions {
  padding:10px;
}

/* Critters */
table.critters {
  width:100%;
}
table.critters caption {
  font-size:18px;;
}
table.critters th {
  padding:0 10px;
}
table.critters td {
  padding:10px;
}
