<% title 'About' %>

<h3>The Hunt</h3>
<p>
This game has 3 main aspects.
Finding critters, breeding them, and battling them.
</p>
<p>
Finding critters that live in the millions of domains across the internet is the primary aspect of the game. 
</p>
<p>
Visit a website and copy the URL from your address bar. Every web site has exactly 2 critters that occupy a domain. These critters will always be the same for that website. The first way is described on the website. The second way is a side effect of the code. Not sure it that will be staying but as for now I won't be working on changing it.
</p>

<h3>Breeding critters is very straight forward.</h3>
<p>
Take two critters you own and breed them together using a genetic model for each ability. Dominant markers activate an ability and Recessive markers deactivate an ability. Breed as many critters as you can to try and make the strongest type. Be careful not to breed in genetic flaws into your critters as it will weaken them. The amount of abilities, and how they are selected will be secret.
</p>
<p>
A genetic reader may be introduced that allows users to view the genetic code of the critters they own. This may be an option only available to donors.
</p>
<p>

<h3>Battling critters</h3>

<p>
There will be several types of battles you can enter you critter into.
</p>
<p>
One on one random battles will increase the winning critters level.
Daily tournaments will be held and award the owner a medal.
Special tournaments will be held that give a way a custom critter to the winner. Medals from a daily tournament will be required to enter.
</p>
