<p>
Search the web for hidden creatures. Enter a link to a site you hope to find a creature at.
For the best results go to the website you want to search first and copy it's URL from your browser.
</p>
<%= render 'form' %>
<br />
<%= link_to 'Back to your critters...', critters_path %>
